<br><br><br><br>
<% if params[:action] == 'search' %>
<div class="result-block">
    <%= bootstrap_flash %>
</div>
<% end %>
<% if @stock %>
    <div class="well results-block">
        <strong>Symbol:</strong> <%= @stock.ticker %>
        <strong>Name:</strong> <%= @stock.name %>
        <strong>Price:</strong> <%= @stock.last_price %>
        <% if current_user.can_add_stock?(@stock.ticker) %>
            <%= link_to "Add to my stock", user_stocks_path(user: current_user, stock_ticker: @stock.ticker), method: :post, class: "btn btn-primary" %>
        <% else %>
            <span class="label label-default">
                Stock cannot be added because you have already added
                <% if !current_user.under_stock_limit? %>
                    10 Stocks
                <% end %>
                <% if current_user.stock_already_added?(@stock.ticker) %>
                    This stock 
                <% end %>
            </span>
        <% end %>
    </div>
<% end %>