<h1>My Portfolio</h1>
<h3>Search for Stocks</h3>
<div id="stock-lookup">
    <%= form_tag search_stocks_path, method: :get, remote: true, id: 'stock-lookup-form' do %>
        <div class="from-group row no-padding text-center col-md-12">
            <div class="col-md-10">
                <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticke symbol", autofocus: true, class: 'form-control search-box input-lg' %>
            </div>
            <div class="col-md-2">
                <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
                    <span class="fa fa-search"></span> Look up a stock
                <% end %>
            </div>
        </div>
    <% end %>
</div>

<div id="results">
    <%= render "users/result" %>
</div>
<br><br>
<%= render 'stocks/list' %>
