.results-block{
    display: inline-block;
}

.left-padding{
    padding-left: 15px !important;
}

.logout{
    padding-left: 0;
}

.user-name{
    padding-top: 15px;
}

.nav.navbar-right{
    .btn{
        color: #fff !important;
        margin-top: 5%;
    }
    .btn-danger:hover{
        background-color: darker(#d9534f, 20%) !important;
    }
}