<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <a class="navbar-brand" href="/">FinanceTracker</a>
        <% if current_user %>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav col-md-6">
                    <li><%= link_to "My Portfolio", my_portfolio_path  %></li>
                    <li><%= link_to "My Profile", edit_registration_path(current_user)  %></li>
                    <li><%= link_to "My Friends", my_friends_path  %></li>
                </ul>
                <ul class="nav navbar-right col-md-4">
                    <li class="col-md-8 user-name text-right ">
                        <span class="fa fa-user"></span>
                        <%= current_user.full_name.present? ? current_user.full_name : current_user.email %>
                    </li>
                    <li class="col-md-4 logout">
                        <%= link_to("Logout", destroy_user_session_path, class: "btn btn-xs btn-danger", method: :delete)  %>
                    </li>
                </ul>
            </div>
        <% end %>
    </div>
</div>